######################
# Volatile: Starting point for working. This is easily updated in runtime with num3, num9, "-" and "="
strength=1.5
sensitivity=2

######################
# These fields mean how far to offset from the red dot to target location on screen
close_offset_x=50
close_offset_y=60
far_offset_x=65
far_offset_y=65

######################
# X and Y multiplication for mouse movement
x_multiplier=0.1
y_multiplier=0.05

######################
# Square to scan for red dot
scan_width=400
scan_height=300
# Offset from center of screen. -200x-200 means 200 pixels left and 200 pixels up (slightly off center to the top for 400x300)
scan_horizontal_offset=-200
scan_vertical_offset=-200

######################
# Outdated! It is ignored in up-to-date version
# point_a_distance=25
# point_a_b_distance=25
# point_b_c_distance=50
# multiplier_at_closest=0.01
# multiplier_point_at_point_a=0.4
# multiplier_point_at_point_b=1
# multiplier_point_at_point_c=0
# multiplier_at_furthest=0
