scan_width=400
scan_height=300
scan_horizontal_offset=-200
scan_vertical_offset=-200
close_offset_x=45
close_offset_y=60
far_offset_x=60
far_offset_y=40
sensitivity=3.5
strength=1.0
x_multiplier=0.1
y_multiplier=0.05
point_a_distance=25
point_a_b_distance=25
point_b_c_distance=50
multiplier_at_closest=0.01
multiplier_point_at_point_a=0.4
multiplier_point_at_point_b=1.0
multiplier_point_at_point_c=0.8
multiplier_at_furthest=0.3